<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server_forexam.dao.TopicsCategoriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server_forexam.entity.TopicsCategories">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, created_at, updated_at, is_deleted
    </sql>

    <select id="selectAll" resultType="com.example.server_forexam.entity.TopicsCategories">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
        topics_categories
    </select>

    <insert id="insertone" parameterType="com.example.server_forexam.entity.TopicsCategories">
        INSERT INTO topics_categories (name, description, created_at, updated_at)
        VALUES (#{name}, #{description}, #{createdAt}, #{updatedAt})
    </insert>

    <delete id = "deleteOne">
        DELETE
        FROM
            topics_categories
        WHERE
            id = #{topicId}
    </delete>

    <update id = "updateTopic">
        UPDATE
            topics_categories
        SET
            name = #{name}, description = #{description}
        WHERE
            id = #{topicId}
    </update>

    <update id ="updateStatus">
        UPDATE
            topics_categories
        SET
            is_deleted = 1 - is_deleted
        WHERE
            id = #{topicId}

    </update>

</mapper>
