/* 首页头部导航 */
.community-heander{
	display: flex;
	align-items: flex-start;
	background-image:url("../../../assets/images/image.png");
	background-position:center left ;
	width: 1520px;
	height: 150px;
	position:fixed; /*定位导航栏*/
	position: relative;
	position:absolute;
	top:0;
	
}

.community-nav{
	display: flex;
	align-items: center;/*主轴居中对齐*/
	padding: 24px;   /*容器内上下左右的边距*/
	flex-shrink: 0;/*缩小*/
	
}
.left-nav{
	display: flex;
	align-items: center;
	
}
.nav-item{
	margin-left: 24px;
    font-size: 16px;
	color: #efeaea;
	
}
.center-search {
	max-width: 800px;
	min-width: 300px;
	min-height: 40px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 450px;
	flex-wrap: 1;
} 
.right-nav{
	display: flex;
	align-items: center;
	margin-right: 24px;
	margin-left: 24px ;
	flex-wrap: 1;
	
}
.nav1-item{
	color: #fff;
	margin-left: 24px;
	flex-wrap: 1;

}
.right-nav .nav1-item i {  
    font-size: 24px; /* 调整字体大小，进而影响图标大小 */  
    vertical-align: middle; /* 可选，用于垂直居中对齐 */  
	flex-wrap: 1;
}
.main{
	display: flex;
	align-items: flex-start;
	padding: 0px,0px,24px,24px;
	
}

/*首页左部内容 */
.main-left{
	/* position:fixed;
	position:relative; */
}
.text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }
 
  .box1-card{
	width: 300px;
	height: 1430px;
	margin-top: 125px;
  }

/* 首页中部内容 */
.recommend-list{
	display: flex;
	align-items: center;
	background-color:#fff;
	width: 800px;
	height: 50px;
    margin-top: 10px;
	margin-bottom:100%;
	
}
.content-header  span{
  font-size: 17px;
  color: #000000c6;
  font-weight:550;
  margin-left: 20px;
}
.sign:hover {  
    color: rgb(204, 109, 14); /* 示例：鼠标悬停时变为红色 */  
	cursor: pointer; /* 当鼠标悬停时显示小手光标 */  
}
.sign.active {
	color: rgb(204, 109, 14);; /* 点击后的固定颜色 */
}
.el-divider{
	margin-bottom: 18px;
	margin-top: 10px;
}

.content-list{
	width: 800px;
	height: 500px;
	margin-top: 480px;
}
  .box2-card {
	display: flex;
	flex-direction: column;
    width: 820px;
	height: 1430px;
	margin-top: 100px;
	margin-left: 9px;
  }
.post-item{
	display: flex;
	flex-direction: row;
    height: 125px;
	border: 1px solid #ddd;
    background-color: #fff;
	border-radius: 8px;
	position: relative;
	cursor: pointer;
  }
.profile-photo-main{
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  }
.username{
	margin-left: 70px;
	font-size: 16px;
	color: #000000c6;
	font-weight: 600;
	margin-top: 15px;
	position: absolute;
  }
.title{
	position:absolute;
	margin-top: 50px;
	margin-left: 80px;
}
.title span{
	font-size: 16px;
	
}
.createTime{
	margin-top: 90px;
	margin-left:20px;
	position: absolute;
}
.createTime span{
	font-size: xx-small;
}
.collectCount{
	margin-top:100px;
	margin-left: 600px;
	position: absolute;
}
.likeCount{
 margin-top:100px;
 margin-left: 650px;
 position: absolute;
  }
.commentCount{
margin-top:100px;
margin-left: 700px;
position: absolute;
  }
.font-itme1{
	font-size: small;
  }

 .pagination {
    display: flex;
    align-items: center;
    gap: 5px;
	margin-top: 18px;
	margin-left: 220px;
}

button {
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
}

button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

#pageInfo {
    font-size: 14px;
}

  /*首页右部内容*/
  .main-right{
	/* position:fixed;
	position:relative; */
  }
.box3-card{
	width: 375px;
	height: 1430px;
	margin-top: 125px;
	margin-left: 40px;
}
