.post{
	background-color: #F2F6FC;
	height: 4915px;
}
/* 首页头部导航 */
.community-heander{
	display: flex;
	align-items: flex-start;
	background-image:url("../../../assets/images/back2.jpg");
	background-position: center;
	width: 1520px;
	height: 150px;
	position:fixed; /*定位导航栏*/
	position:absolute;
	top:0;
	
}

.community-nav{
	display: flex;
	align-items: center;/*主轴居中对齐*/
	padding: 24px;   /*容器内上下左右的边距*/
	flex-shrink: 0;/*缩小*/
	top:0;
	z-index: 10;
}
.left-nav{
	display: flex;
	align-items: center;
}
.left-nav li:hover{
	color: rgb(204, 109, 14); /* 示例：鼠标悬停时变为红色 */  
	cursor: pointer; 
}
.nav-item{
	margin-left: 24px;
    font-size: 16px;
	color: #efeaea;
	
}
.center-search {
	max-width: 800px;
	min-width: 300px;
	min-height: 40px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 450px;
	flex-wrap: 1;
} 
.right-nav{
	display: flex;
	align-items: center;
	margin-right: 24px;
	margin-left: 24px ;
	flex-wrap: 1;
	
}
.nav1-item{
	color: #fff;
	margin-left: 24px;
	flex-wrap: 1;

}
.right-nav .nav1-item i {  
    font-size: 24px; /* 调整字体大小，进而影响图标大小 */  
    vertical-align: middle; /* 可选，用于垂直居中对齐 */  
	flex-wrap: 1;
}
.main{
	display: flex;
	align-items: flex-start;
	padding: 0px,0px,50px,50px;
	margin-left: 150px;
	margin-right: 100px;
}

/*首页左部内容 */
.main-left{
	position: relative;
}
.box1-card{
	width: 350px;
	height: auto;
	margin-top: 5px;
	margin-left:20px;
	
  }
.hot-nav{
	margin-top: 10px;
	position: relative;
}
.hot-nav span{
	position: relative;
	font-size: 18px;
    font-weight:600;
}
.hot-list{
	margin-top: 15px;
}
.hot-itme{
	position: relative;
	display: flex;
	align-self: center;
	margin-top: 10px;
}
.hot-itme em{
	font-size: 24px;
	color: #cc9f18;
	font-weight: 600;
}
.hot-title{
	position: relative;
	margin:5px 20px;

}
.hot-title span{
	font-size: 17px;
}
.hot-title span:hover{
	color:rgb(204, 109, 14);
	font-size: 18px;
}
.box1-itme-card{
	width: 350px;
	height: 500px;
	margin-top: 5px;
	margin-left:20px;
	position: sticky;
    
}
.box3-card{
	width: 350px;
	height:300px;
	margin-top: 125px;
	margin-left: 20px;
	
}
/* 首页中部内容 */
.recommend-list{
	display: flex;
	align-items: center;
	background-color:#fff;
	width: 750px;
	height: 50px;
    margin-top: 10px;
	margin-bottom:100%;
	
}
.content-header  span{
  font-size: 18px;
  color: #000000c6;
  font-weight:550;
  margin-left: 20px;
}
.sign:hover {  
    color: rgb(204, 109, 14); /* 示例：鼠标悬停时变为红色 */  
	cursor: pointer; /* 当鼠标悬停时显示小手光标 */  
}
.sign.active {
	color: rgb(204, 109, 14);; /* 点击后的固定颜色 */
}
.el-divider{
	margin-bottom: 18px;
	margin-top: 10px;
}

.content-list{
	width: 800px;
	height: 500px;
	margin-top: 480px;
}
  .box2-card {
	display: flex;
	flex-direction: column;
    width: 850px;
	height: auto;
	margin-top: 100px;
	margin-left: 15px;
  }
.post-list{
	
  }
.post-item{
	display: flex;
	flex-direction:column;
    /* height: 300px; */
	/* border: 1px solid #ddd;
    background-color: #fff; */
	/* border-radius: 8px; */
	position: relative;
	cursor: pointer;
  }
.profile-photo-main{
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  }
.username{
	margin-left: 70px;
	font-size: 16px;
	color: #000000c6;
	font-weight: 600;
	margin-top: 15px;
	position: absolute;
  }
.title{
	position:absolute;
	margin-top: 70px;
	margin-left: 70px;
	
}
.title span{
	font-size: 17.5px;
	color: #242526;
}
.title span:hover{
	color: #2d93f9; /* 示例：鼠标悬停时变为红色 */  
	cursor: pointer; /* 当鼠标悬停时显示小手光标 */  
}
.createTime{
	margin-top: 40px;
	margin-left:70px;
	position: absolute;
}
.createTime span{
	font-size: xx-small;
}
.content{
	margin-top: 30px;
	margin-left: 70px;
	position: relative;
}
.small-sign {
	display: flex;
	position: relative; /* 绝对定位 */
  }
.collectCount{
	margin-top:20px;
	margin-left: 70px;
	position: relative;
}
.likeCount{
 margin-top:20px;
 margin-left: 80px;
 position: relative;
  }
.commentCount{
margin-top:20px;
margin-left: 80px;
position: relative;
  }
.small-sign span{
	font-size: medium;
}

.url{
	display: flex; /* 使每个图片元素横向排列 */
	position: relative;
	margin-top: 10px;
	margin-left: 70px;
 }
 .post-image{
  width: 25%;
  max-width: 200px; /* 或其他你希望的最大宽度 */
  margin: 10px 3px; /* 使图片居中显示 */
  overflow: hidden; /* 防止图片溢出 */
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
 }
 img {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto; /* 保持图片比例 */
	margin-left: 20px;	
	cursor: pointer;
	position: relative;
	margin: 0px;
	margin-bottom: 0px;
	
}
.post-video{
	width: 50%;
	max-width: 200px; /* 或其他你希望的最大宽度 */
	margin: 10px 0px; /* 使图片居中显示 */
	overflow: hidden; /* 防止图片溢出 */
	border: 1px solid #ddd;
	border-radius: 5px;
	position: relative;
}
 video{
	display: flex;
	align-items: center;
	width: 100%;
	height: auto; /* 保持图片比例 */
	margin-left: 20px;	
	cursor: pointer;
	position: relative;	
	margin: 0px;
	margin-bottom: 0px;
	
 }
.font-itme1{
	font-size: small;
  }

.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
	margin-top: 18px;
	margin-left: 220px;
}

button {
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
}

button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

#pageInfo {
    font-size: 14px;
}

  /*首页右部内容*/
  .main-right{
   width:360px;
   
  }
/* .box3-card{
	width: 360px;
	height:300px;
	margin-top: 125px;
	margin-left: 20px;
	margin-right: 20px;
	right: 20px;
	left: 20px;
	margin-top: 125px;
	bottom: 0px;
	
} */
.block span{
	margin-bottom: 30px;
}


